body {
    background-color: #555;
    color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header {
    background: burlywood;
    color: #fff;
}

#navbar {
    background-color: #333;
    color: #fff;
}

#navbar ul {
    padding: 0;
    list-style: none;
    float: right;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase {
    background-image: url('images/background.jfif');
    background-position: center right;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1 {
    color: #fff;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#container-2 {
    text-align: center;
}

#row-1 {
    display: flex;
    flex-wrap: wrap;
}

.column-1 {
    flex: 1;
}

.column-2 {
    flex: 1;
}

.column-3 {
    flex: 1;
}

#container-3 {
    text-align: center;
}

#row-2 {
    display: flex;
    flex-wrap: wrap;
}
#column-4 {
    flex: 1;
}

#column-5 {
    flex: 1;
}
#main-footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#container-4 {
    text-align: center;
}

#row-3 {
    display: flex;
    flex-wrap: wrap;
}
.column-6 {
    flex: 1;
}

.column-7 {
    flex: 1;
}

.column-8 {
    flex: 1;
}

#row-4 {
    display: flex;
    flex-wrap: wrap;
}
.column-9 {
    flex: 1;
}

.column-10 {
    flex: 1;
}
@media (max-width: 600px) {
    #main {
        width: 100%;
        float: none;
    }
    #sidebar {
        width: 100%;
        float: none;
    }
}
